html{
    min-height:100%;
}
body{
    font-family: monospace;
    color: black;
}

.header{
    color: white;
    font-size: 50px;
    display: block;
    background-color: #03e7fc;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: -50px;
    margin-top: -50px;
    width: 100%;
}

/* Nav Bar */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

li.sideheader{
    font-size: 10px;
    float: right;
    background-color: green;
    text-align: center;
    padding: 8px 10px;

}

li.nav {
    float: left;
    font-size: 20px;
    padding-right: 10px;
}
  
li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:inherit;
  }
  
li a:hover {
    background-color: #111;
}


div.loginregister{
    text-align: center;
    margin-top: 40px;
}

.logged_in{
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    padding-right: 5px;
}
.log_out{
    font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    padding-right: 5px;
}
div.content{
    min-height: 85vh;
    display: flex;
}

div.list{
    margin-top: 10px;
    margin-left: 10px;
}
div.dev-sidepanel{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

div.dev-list{
    margin-right:10px;
    max-width: 225px;
    max-height: 250px;
}

img.dev_logo{
    margin-top: 5%;
    margin-left: 15%;
    height:10%;
    width: 15%;
}
footer{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: red;
}
