html{
    min-height:100%;
}
body{
    font-family: monospace;
    color: black;
    height: 100%;
    min-height: 100%;
}

.header{
    color: white;
    font-size: 50px;
    display: block;
    background-color: #03e7fc;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: -50px;
    margin-top: -50px;
    width: 100%;
}
/* flash messages */
ul.messages{
    list-style-type: none;
    color: white;
}
li.error{
    background-color: red;
}
li.success{
    background-color: green;
}
/* Nav Bar */
a[onclick] { 
    cursor: pointer 
}
a:link {
    text-decoration: none;
  }
  
  

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    
}

li.sideheader{
    font-size: 10px;
    float: right;
    background-color: green;
    text-align: center;
    padding: 8px 10px;

}

li.nav {
    color: gray;
    float: left;
    font-size: 20px;
    padding-right: 10px;
}

.logged_in{
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    padding-right: 5px;
}
.log_out{
    font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    padding-right: 5px;
}

div.validation_errors{
    max-height: 10px;
    padding-bottom: 20px;
}

div.content{
    min-height: 85vh;
    display: flex;
}
/* Home Page*/
div.title{
    display:block;
    max-height: 900px;
    width:100%;
}
ul.homepage_buttons{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;

}
li.homepage_buttons{
    display: inline-block;
    text-align: center;
}
p.homepage_buttons{
    text-align: center;
    vertical-align: center;
    line-height:50px;
}


/* List for Devs and Games */
div.list{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 10px;
}
p.list-item{
    vertical-align: center;
    line-height: 30px;
}

/* Button for adding and removing games to wishlist */
img.add_remove_button{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
}
/* Delete Game Button */
img.delete_button{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
}

/* Dev and Game Page */
div.sidepanel{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    max-height: 500px;
    text-align: center;
    line-height: 12px;
}

p.sidepanel{
    text-align: center;
    vertical-align: center;
    line-height: 30%;
}

/* Game Page */
#player{
    margin-left: 20px;
    margin-top: 20px;
}

p.game_desc{
    position: relative;
    height: 200px;
    margin-left: 20px;
    max-width: 800px;
}
div.review{
    clear: both;
}

/* Dev and User Page */
div.list-item{
    margin-right:10px;
    max-width: 225px;
    max-height: 270px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Dev Page */
img.dev_logo{
    margin-top: 5%;
    margin-left: 15%;
    height:10%;
    width: 15%;
}

div.dev-list{
    margin-left: 30px;
    margin-top: 20px;
}

/*User Page*/
div.userpage_buttons{
    max-height: 80px;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

div.userpage_lists{
    margin-top: 32px;
    margin-left:20px;
}

/* Footer */
footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 53px;
    background-color: gray;
    text-align: center;
    color: black;
}
