{% extends "layout.html"%}{% block content%}
{% include "errors.html"%}
<div class="w3-container w3-half w3-margin-top">
    <div class="w3-panel w3-card">
        <p>Add Dev:</p>
        <form method="POST" action='' enctype="multipart/form-data">
            {{add_dev_form.csrf_token }}
            <label>Developer:</label>
            <input class="w3-input" type="text" name="name"></input>
            <br>
            <label>Logo:</label>
            <input class="w3-input" name="image" type="file"></input>
            <br>
            <p><button class="w3-button w3-section w3-grey w3-ripple" name="add_dev_submit">Add Developer</button></p>
        </form>
    </div>
</div>
{% endblock %}