{% extends "layout.html"%}{% block content%}
<div class="login_register_errors">
{% include "errors.html"%}
</div>

<div class="w3-container w3-half w3-margin-top" style="padding-top:50px;float:left;position: fixed;">
    <div class="w3-panel w3-card">
        <p>Change Password:</p>
        <form method="POST" action=''>
            {{password_form.csrf_token }}
            <p><input class="w3-input" type="password" name="current_password">Current Password</input></p>
            <br>
            <p><input class="w3-input" type="password" name="new_password">New Password</p></input></p>
            <br>
            <p><input class="w3-input" type="password" name="password_confirm">Confirm Password</p></input></p>
            <br>
            <p><button class="w3-button w3-section w3-grey w3-ripple" name="password_submit">Change Password</button></p>
        </form>
    </div>
</div>
{% endblock %}
