{% extends "layout.html"%}{% block content %}
{% from "macro.html" import game_item with context %}
<div class="sidepanel">
<div class="w3-card-4" style="height:270px;margin-bottom:10px;">
    <img src="{{url_for('static', filename=developer['logo'])}}" alt="" style="width:250px;height:200px;">
    <div class="w3-container w3-center">
        <p>{{developer['name']}}</p>
    </div>
</div>
<a href="{{ url_for('addgame', dev_from_page=developer['name']) }}">
<div class="w3-card" style="max-height:10%;padding: 10px;">
    <p>Add Game</p>
</div>
</a>
</div>
<div class="dev-list">
    {%for game in dev_games%}
    {{game_item(page={"dev" : developer['name']}, game=game )}}
    {%endfor%}
</div>
{% endblock %}