{% extends "layout.html"%}{% block content%}
<div class='sidepanel'>
    <div class="w3-card-4" style="height:270px;width: 150px;margin-bottom:10px;">
        <img src="{{url_for('static', filename=game['image'])}}" alt="" style="width:100%;height:70%;">
        <div class="w3-container w3-center">
            <p class='sidepanel' style='line-height:20px;word-wrap: break-word;'>{{game['name']}}</p>
        </div>
    </div>
    <a href="http://{{game['link']}}">
        <div class="w3-card" style="max-height:10%;padding: 10px;">
            <p class='sidepanel'>Link</p>
        </div>
    </a>
    <a href="{{url_for('dev', name=game['dev'])}}">
        <div class="w3-card" style="height:60px;padding: 5px;margin-top: 10px;max-width: 150px; word-wrap: break-word;">
            <p>Developed by {{game['dev']}}</p>
        </div>
    </a>
    {%if current_user.is_authenticated%}
    {% if game['id'] in wishlist_games_id %}
    <a href="{{url_for('remove_wishlist', id=game['id'], backpage={'game' : game['name']})}}">
        <div class="w3-card" style="height:60px;padding: 10px;margin-top: 10px;max-width: 150px;">
            <p style='margin-top:10px'>Remove from Wishlist</p>
        </div>
    </a>
    {%else%}
    <a href="{{url_for('add_wishlist', id=game['id'], backpage={'game' : game['name']})}}">
        <div class="w3-card" style="height:60px;padding: 10px;margin-top: 10px;max-width: 150px;">
            <p>Add to Wishlist</p>
        </div>
    </a>
    {%endif%}
    {%if current_user.id == game.user_id or current_user.username == 'admin'%}
    <a onclick="DialogueBox(url='{{url_for('delete_game', game=game['name'], backpage={'games' : 0})}}')">
        <div class="w3-card" style="height:60px;padding: 10px;margin-top: 10px;max-width: 150px;">
            <p>Delete Game</p>
        </div>
    </a>
    {%endif%}
    {%endif%}
    {%if current_user.id != game.user_id%}
    <a href="{{url_for('user', username=adder_user['username'])}}">
        <div class="w3-card" style="height:60px;padding: 5px;margin-top: 10px;max-width: 150px; word-wrap: break-word;">
            <p>Added by {{adder_user['username']}} </p>
        </div>
    </a>
    {%endif%}
</div>
<div>
    <div class='game_details'>
    {% if game['video']%}
    {% if game['video']|length > 1 %}
    <iframe id="player" type="text/html" width="500" height="400" src="https://www.youtube.com/embed/{{game['video']}}" frameborder="0"></iframe>
    {%endif%}
    {%endif%}
    <p class='game_desc'>{{game['desc']}}</p>
    </div>
    {% if current_user.is_authenticated and reviewed == false%}
    <div class="w3-container w3-half w3-margin-top">
        <div class="w3-panel w3-card" style='padding-bottom: 10px; width: 200%;'>
            <form method="POST" action='' enctype="multipart/form-data">
            <p>Would you Recommend this Game?</p>
            {{review_form.recommend}}
            <p>Write a Review: </p>
            {{review_form.review(cols="175", rows="10")}}
            <br>
            <p><button class="w3-button w3-section w3-grey w3-ripple" name="submit_review">Submit</button></p>
            <br>
            </form>
        </div>
    </div>
    {% endif %}
    {%if reviews|length > 0%}

    <table class='w3-table w3-bordered'>
    <tr>
        <th>User</th>
        <th>Review</th>
        <th>Recommendation</th>
    </tr>
    {% for review in reviews%}
    <tr>
        <td>{{review.reviewer}}</td>
        <td>{{review.review}}</td>
        {% if review.recommend == 1 %}
        <td>Does Recommend</td>
        {%else%}
        <td>Doesn't Recommend</td>
        {%endif%}
    </tr>
    {%endfor%}
    </table>
    {%endif%}
</div>



{% if current_user.id == game['user_id'] or current_user.username == 'admin'%}
<script type="text/javascript">
  function DialogueBox(url){
    if(confirm("Delete Game from Database?")){
      window.location.href = url

    }
  }
</script>
{%endif%}
{% endblock %}