{% extends "layout.html"%}{% block content%}
<div class="title">
  <div class="w3-display-container" style="width: 100%; height:600px; overflow:hidden;">
      <img src="../static/images/homepage/image1.jpg" class="background_image" style="height:900px; width:100%">
      <div class="w3-display-middle w3-large">
        <h1 class="w3-jumbo w3-text-white w3-wide"><b>GAMES 2<br>PLAY</b></h1>
      </div>
  </div>
</div>
<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-card">
    <p>Games</p>
  </div>
</div>
{% endblock %}