<div class="w3-bar w3-dark-grey" style='margin: auto;'>
    <a href="/home" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="/games" class="w3-bar-item w3-button w3-mobile">Games</a>
    <a href="/devs" class="w3-bar-item w3-button w3-mobile">Developers</a>
    {% if current_user.is_authenticated == false %}
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Register</a>
    <a href="/login" class="w3-bar-item w3-button w3-mobile">Login</a>
    {% else %}
    <a href="/addgame" class="w3-bar-item w3-button w3-mobile">Add Game</a>
    <a href="/adddev" class="w3-bar-item w3-button w3-mobile">Add Developer</a>
    <div class="w3-dropdown-hover w3-right">
        <button class="w3-button w3-black">Options</button>
        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
          <a href="/user/{{current_user.username}}" class="w3-bar-item w3-button">User Page</a>
          <a href="/changepassword" class="w3-bar-item w3-button">Change Password</a>
          <a href="/logout" class="w3-bar-item w3-button">Log Out</a>
        </div>
      </div>
    {% endif %}
</div>